<?xml version="1.0"?>
<!-- NOT FOR OPEN SOURCE -->

<launch>
<node pkg="rosbag" type="record" name="rosbag_record_all_sensors_vehicle"
    args="-o /home/tofadmin/Desktop/all_sensors
    /Vehicle/Lidar/LidarFront/scan
    /Vehicle/Lidar/LidarRear/scan
    /Vehicle/Lidar/LidarTop/scan
    /Vehicle/Lidar/LidarTop/velodyne_packets
    /Vehicle/Lidar/LidarTop/velodyne_points

    /Vehicle/VehicleBridge/gps/fix
    /Vehicle/VehicleBridge/gps/gga
    /Vehicle/VehicleBridge/gps/nav_status
    /Vehicle/VehicleBridge/gps/pos_type
    /Vehicle/VehicleBridge/gps/time_ref
    /Vehicle/VehicleBridge/gps/vel

    /Vehicle/VehicleBridge/imu/data
    /Vehicle/VehicleBridge/odometry

    /Vehicle/VehicleBridge/safety_driver_status
    /Vehicle/VehicleBridge/vehicle_data
    /Vehicle/VehicleBridge/vehicle_twist

    /Vehicle/Video/CameraFrontCenter/image_raw
    /Vehicle/Video/CameraFrontLeft/image_raw
    /Vehicle/Video/CameraFrontRight/image_raw
    /Vehicle/Video/CameraRearCenter/image_raw
    /Vehicle/Video/CameraTopViewFront/image_jpeg
    /Vehicle/Video/CameraTopViewLeft/image_jpeg
    /Vehicle/Video/CameraTopViewRight/image_jpeg
    /Vehicle/Video/CameraTopViewRear/image_jpeg"/>

</launch>
